<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JAVASCRIPT VIEWER</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background-color:#FFFFFF" ng-app="viewer" ng-controller="ViewerController">

    <div class="container row">

      <div class="col-lg-9">
        <!--VIEWR-->
        <div id="viewer"
             style="display:block; height: 800px; width: 800px; position: relative;">
        </div>
      </div>

      <div class="col-lg-3">
        <h3>Volumetric data</h3>
        <uib-tabset active="">
        <uib-tab heading="Files" index="-1" >
        <ul id="chgcar-list">
          <li class="checkbox" ng-repeat="chg in CHGCARS">
            <label for="">{{chg.name}}</label>
            <input type="checkbox" ng-true-value="true" ng-false-value="false"  ng-value="chg.value" ng-model="chg.value" name="{{chg.name}}" id="{{chg.name}}">
          </li>
        </ul>
        <label for="Add new file">Add file name</label>
        <input type="text" placeholder="e.g.: ./path/to/your/file"  class="" ng-value="newChgName" ng-model="newChgName">
        <button class="btn btn-primary" ng-click="addChgcarObject(newChgName)"><i class="glyphicon glyphicon-plus"></i></button>

        </uib-tab>
        <uib-tab ng-repeat="chg in CHGCARS" index="$index" heading="{{chg.name}}" disable="!chg.value">
        <!--{{chg}}-->
        <ul>
          <li>
            <label for="isovalue">Isovalue</label>
            <input ng-model="chg.isovalue" type="number" step="0.001" name="isovalue" value="0.01" id="isovalue">
          </li>
          <li>
            <label for="opacity">Opacity</label>
            <input ng-model="chg.opacity" type="number" step="0.01" min="0" max="1" name="opacity" value="0.95" id="opacity">
          </li>
          <li>
            <label for="smoothness">Smoothness</label>
            <input ng-model="chg.smoothness" type="number" step="0.01" min="0" max="100" name="smoothness" value="10" id="smoothness">
          </li>
          <li>
            <label for="alpha">Alpha</label>
            <input ng-model="chg.alpha" type="number" step="0.01" min="0" max="1" name="alpha" value="0.95" id="alpha">
          </li>
          <li>
            <label for="Voxel">Voxel</label><input ng-true-value="true" ng-false-value="false" ng-model="chg.voxel" type="checkbox" name="voxel" id="voxel">
          </li>
          </li>
          <li>
            <label for="format">Format</label><input ng-model="chg.format" type="text" >
          </li>
            <li>
              <label for="Color">Color</label>
              <select class="form-control"  ng-value="chg.color" ng-model="chg.color" size="1">
                <option style="font-weight:bold; color:white" value="white">white</option>
                <option style="font-weight:bold; color:silver" value="silver">silver</option>
                <option style="font-weight:bold; color:gray" value="gray">gray</option>
                <option style="font-weight:bold; color:grey" value="grey">grey</option>
                <option style="font-weight:bold; color:black" value="black">black</option>
                <option style="font-weight:bold; color:red" value="red">red</option>
                <option style="font-weight:bold; color:maroon" value="maroon">maroon</option>
                <option style="font-weight:bold; color:yellow" value="yellow">yellow</option>
                <option style="font-weight:bold; color:orange" value="orange">orange</option>
                <option style="font-weight:bold; color:olive" value="olive">olive</option>
                <option style="font-weight:bold; color:lime" value="lime">lime</option>
                <option style="font-weight:bold; color:green" value="green">green</option>
                <option style="font-weight:bold; color:aqua" value="aqua">aqua</option>
                <option style="font-weight:bold; color:cyan" value="cyan">cyan</option>
                <option style="font-weight:bold; color:teal" value="teal">teal</option>
                <option style="font-weight:bold; color:blue" value="blue">blue</option>
                <option style="font-weight:bold; color:navy" value="navy">navy</option>
                <option style="font-weight:bold; color:fuchsia" value="fuchsia">fuchsia</option>
                <option style="font-weight:bold; color:magenta" value="magenta">magenta</option>
                <option style="font-weight:bold; color:purple" value="purple">purple</option>
              </select>
            </li>
        </ul>
        <button class="btn btn-primary" ng-click="renderVolumetricData(chg)">Render</button>
        </uib-tab>
        </uib-tabset>


        <h3>Model data</h3>

        <uib-tabset>
        <uib-tab heading="Files">
        <ul id="">
          <li class="checkbox" ng-repeat="model in MODELS">
            <label for="">{{model.name}}</label>
            <input type="checkbox" ng-true-value="true" ng-false-value="false"  ng-value="model.value" ng-model="model.value" name="{{model.name}}" id="{{model.name}}">
          </li>
        </ul>
        <label for="Add new file">Add file name</label>
        <input type="text" class="" placeholder="e.g.: ./path/to/your/file" ng-value="newModelName" ng-model="newModelName">
        <button class="btn btn-primary" ng-click="addModelObject(newModelName)"><i class="glyphicon glyphicon-plus"></i></button>
        </uib-tab>
        <uib-tab heading="{{  model.name }}" ng-repeat="model in MODELS">
          <button class="btn btn-primary" ng-click="renderModel(model)">Render</button>
        </uib-tab>
        </uib-tabset>


      </div>
    </div>


    <button class="btn btn-primary" type="submit" ng-click="clear()">Clear</button>
    <button class="btn btn-primary" type="submit" ng-click="render()">Render again</button>
    <button class="btn btn-primary" type="submit" ng-click="renderIso()">Render isosurface</button>

    <br>

    <label for="radiusScale">Radius scale</label><input type="number" step="0.01" min="0" max="1" name="radiusScale" value="0.95" id="radiusScale">











    <script src="bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="3Dmol.js/build/3Dmol-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/nv.js" type="text/javascript" charset="utf-8"></script>



  </body>
</html>
